{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "react-app", "airbnb"],
  "rules": {
    "no-plusplus": 0,
    "operator-linebreak": 0,
    "object-curly-newline": 0,
    "comma-dangle": 0,
    "arrow-parens": 0,
    "implicit-arrow-linebreak": 0,
    "import/prefer-default-export": 0,
    "space-before-function-paren": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0
  }
}
